
body {

font-family: calibi;
font-size: 25px;
width: 80%;
margin: 1vw auto;
padding: 5px;
}

header {
  height: 400px;
  overflow: hidden;
  margin-bottom: 1em;
}
h1{
    position: absolute;
    top: 40px;
}
header img{
  position: relative;
  opacity: 0.5;
  top: -260px;
}

.burgerWrapper {
  display: grid;
  grid-gap: 1em;

  grid-template-columns: 25vw 25vw 25vw;
  text-align: center;
  margin-bottom: 1em;
}
.burgerWrapper div img {
  max-width: 60%;
  display: block;
  margin: 1em auto 1em;
}
  button:hover {
cursor: pointer;
  }

  h1 {
    color: black;

}
.burgers {
    color: white;
    background-color: black;
    border-style: dotted;
    margin-bottom: 1em;



}

  .identity {

    color: black;
    background-color: white;
    border-style: double;
    margin-bottom:1em;
  }

#laktos {
    font-weight: bold;
}
.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
